{% extends 'base.html' %} {% block head %}
<title>CORONAVIRUS</title>
<style>
    body {
        height: 100vh;
        padding: 10px;
    }
</style>
{% endblock %} {% block body %}
<div
    class="container d-flex flex-column justify-content-center align-items-center h-100"
>
    <div class="jumbotron text-center w-100">
        <h1 class="display-4">
            choose your action
        </h1>
        <p class="lead">
            what would you like to do?
        </p>
        <hr class="my-4" />
        <div class="row">
            <div class="col">
                <a
                    class="btn btn-primary btn-lg btn-block"
                    href="/consultations"
                    role="button"
                    >Get all consultations
                </a>
                <a
                    class="btn btn-primary btn-lg btn-block"
                    href="/patient"
                    role="button"
                    >check the consultations of a patient
                </a>
                <a
                    class="btn btn-primary btn-lg btn-block"
                    href="/download/patients"
                    role="button"
                    >Paitents -> CSV</a
                >
                <a
                    class="btn btn-primary btn-lg btn-block"
                    href="/download/consultations"
                    role="button"
                    >Consultations -> CSV</a
                >
            </div>
        </div>
        <a class="btn btn-primary btn-lg mt-2" href="/" role="button">Home</a>
    </div>
</div>
{% endblock %}
