{% extends 'base.html' %} {% block head %}
<title>CORONAVIRUS</title>
<style>
    body {
        height: 100vh;
        padding: 10px;
    }
</style>
{% endblock %} {% block body %}
<div
    class="container d-flex flex-column justify-content-center align-items-center h-100"
>
    <div class="jumbotron text-center w-100">
        <h1 class="display-4">
            Choisissez votre action
        </h1>
        <p class="lead">
            Que voulez-vous faire ?
        </p>
        <hr class="my-4" />

        <div class="row">
            <div class="col">
                <a
                    class="btn btn-primary btn-lg btn-block"
                    href="/consultation/create"
                    role="button"
                    >Créer une consultation
                </a>
                <a
                    class="btn btn-primary btn-lg btn-block"
                    href="/patient"
                    role="button"
                    >Verifier vos consultations
                </a>
                <a class="btn btn-primary btn-lg mt-2" href="/" role="button"
                    >Home
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
