{% extends 'base.html' %} {% block head %}
<title>Consultations</title>
<style>
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
{% endblock %} {% block body %}
<div class="container d-flex justify-content-center">
    <div class="card bg-light" style="width: 65%;">
        <div class="card-header">
            <h3 class="card-title">
                Nom Complet: {{ consultation.patient.givenName + " - " +
                consultation.patient.familyName }}
            </h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                Age: {{consultation.patient.age}}
            </p>
            <p class="card-text">
                Sex: {{consultation.patient.gender}}
            </p>
            <p class="card-text">
                Wilaya: {{consultation.patient.wilaya}}
            </p>
            <p class="card-text">
                Dayra: {{consultation.patient.dayra}}
            </p>
            <p class="card-text">
                diseases :
                <ol>
                    {% for disease in consultation.patient.chronic_diseases %}
                        <li style="text-transform: capitalize;">{{ disease.replace('_', ' ') }}</li>
                    {% endfor %}
                </ol>
            </p>
            <p class="card-text">
                traitments :
                <ol>
                    {% for traitment in consultation.patient.traitments %}
                        <li style="text-transform: capitalize;">{{ traitment.replace('_', ' ') }}</li>
                    {% endfor %}
                </ol>
            </p>
            <p class="card-text">
                Symptoms : 
                <ol>
                    {% for symptom in consultation.symptoms %}
                        <li style="text-transform: capitalize;">{{ symptom.replace('_', ' ') }}</li>
                    {% endfor %}
                </ol>
            </p>
        </div>
        <div class="card-footer">
            <form action="/consultations/{{ consultation.id }}" method="POST">
                <div class="form-group">
                    <label for="verdict">Verdict do Medecin</label>
                    {% if consultation.output is not none %}
                    <textarea class="form-control" id="verdict" rows="6" name="output">{{ consultation.output }}</textarea>
                    {% else %}
                    <textarea class="form-control" id="verdict" rows="6" name="output"></textarea>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
