{% extends 'base.html' %} {% block head %}
<title>Consultations</title>
<style>
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
{% endblock %} {% block body %}
<div class="container d-flex justify-content-center">
    <div class="card bg-light" style="width: 65%;">
        <div class="card-header">
            <h5 style="font-size: 2rem;" class="card-title display-4">
                Nom Complet: {{ consultation.patient.givenName + " - " +
                consultation.patient.familyName }}
            </h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                Age: {{consultation.patient.age}}
            </p>
            <p class="card-text">
                Sex: {{consultation.patient.gender}}
            </p>
            <p class="card-text">
                Wilaya: {{consultation.patient.wilaya}}
            </p>
            <p class="card-text">
                Dayra: {{consultation.patient.dayra}}
            </p>
            <p class="card-text">
                diseases :
                <ol>
                    {% for disease in consultation.patient.chronic_diseases %}
                        <li style="text-transform: capitalize;">{{ disease.replace('_', ' ') }}</li>
                    {% endfor %}
                </ol>
            </p>
            <p class="card-text">
                traitments :
                <ol>
                    {% for traitment in consultation.patient.traitments %}
                        <li style="text-transform: capitalize;">{{ traitment.replace('_', ' ') }}</li>
                    {% endfor %}
                </ol>
            </p>
            <p class="card-text">
                Symptoms :
                <ol>
                    {% for symptom in consultation.symptoms %}
                        <li style="text-transform: capitalize;">{{ symptom.replace('_', ' ') }}</li>
                    {% endfor %}
                </ol>
            </p>
        </div>
        {% if consultation.output %}
            <div class="card-footer">
                <h4 style="font-size: 1.5rem;" class="display-4">Verdict</h4>
                <hr class="my-4">
                <div class="container">
                    {% for line in consultation.output.split('\n') %}
                    <p style="font-size: 1.4rem;" class="card-text p-0 m-0 display-4">
                        {{line}}
                    </p>
                {% endfor %}
                </div>
            </div>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}
