{% extends 'base.html' %} {% block head %}
<meta id="symptom-data" data-symptoms="{{ patient.symptomes }}" />
<title>Consultations</title>
<style>
    body {
        min-height: 100vh;
        display: flex;
        align-items: start;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    span.input-group-text,
    button {
        transition: all 150ms ease-in-out;
    }
    span.input-group-text:hover {
        background-color: #eb554b;
        color: #fff;
        cursor: pointer;
    }
</style>
{% endblock %} {% block body %}
<div class="container d-flex flex-column align-items-center">
    <h1 class="mb-5">Ajouter Vos Symptoms</h1>
    <form
        action="/consultation/create/asign_symptoms/{{ patient.idconsultation }}/{{ patient.id }}"
        method="POST"
        class="w-75"
    >
        <div
            class="form-group d-flex flex-column justify-content-start align-items-center"
            id="symptoms-inputs"
        ></div>
        <div class="form-group">
            <button id="add-symptom-button" class="btn btn-success">
                Add Symptom
            </button>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>
    <script>
        function addInput(val) {
            const formGroup = $("div#symptoms-inputs");

            const rem = $("<button></button>", {
                type: "button",
                class: "btn btn-outline-secondary",
            }).text("X");

            rem.click((e) => {
                e.preventDefault();
                rem.parent().remove();
            });

            const div = $("<div></div>", {
                class: "input-group mb-3",
            });

            const labelDiv = $("<div></div", {
                class: "input-group-prepend",
            }).append(
                $("<span></span>", {
                    class: "input-group-text",
                }).text("Delete")
            );

            labelDiv.click((e) => {
                e.preventDefault();
                labelDiv.parent().remove();
            });

            const input = $("<input />", {
                type: "text",
                name: "symptoms[]",
                class: "form-control w-75",
                placeholder: "Symptom",
                value: val
            });

            // symptomsList = {{ symptomsList.li|safe }}
            // console.log(symptomsList)
            // input.autocomplete({
            //     source: symptomsList
            // })

            div.append(labelDiv);
            div.append(input);
            formGroup.append(div);
        }

        let symptomes  = {{ patient.symptomes|safe }}
        symptomes.forEach(symptom => {
            addInput(symptom);
        })
        addInput("");
        // let symptomData = $("#symptom-data").data();
        // console.log(symptomData.symptoms.match(new RegExp("'(.+)'+")));
        $("button#add-symptom-button").click((e) => {
            e.preventDefault();
            addInput("");
        });
        // for (let i = 0; i < labelDivs.length; i++) {
        //     labelDivs[i].click((e) => {
        //         e.preventDefault();
        //         console.log(labelDivs[i].parent());
        //     });
        // }
    </script>
</div>
{% endblock %}
