{% extends 'base.html' %} {% block head %}
<title>CORONAVIRUS</title>
<style>
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        /* background-image: url("{{ url_for('static', filename='Asset_1.svg') }}"); */
    }
</style>
{% endblock %} {% block body %}
<div class="container"></div>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">
            welcome to our humble web app!
        </h1>
        <p class="lead">
            L’open data sur les données d’évolution de la maladie du covid-19
        </p>
        <hr class="my-4" />
        <p>
            choose your side
        </p>
        <a class="btn btn-primary btn-lg" href="/as_doctor" role="button"
            >Medecin</a
        >
        <a class="btn btn-primary btn-lg" href="/as_patient" role="button"
            >patient</a
        >
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div
        class="btn-toolbar"
        role="toolbar"
        aria-label="Toolbar with button groups"
    >
        <div class="btn-group" role="group" aria-label="First group">
            <a href="/clear/patients" class="btn btn-secondary"
                >Clear Patients</a
            >
            <a href="/clear/consultations" class="btn btn-secondary"
                >Clear Consultations</a
            >
            <a href="/clear/symptoms" class="btn btn-secondary"
                >Clear Symptoms</a
            >
            <a href="/clear/diseases" class="btn btn-secondary"
                >Clear Diseases</a
            >
            <a href="/clear/traitments" class="btn btn-secondary"
                >Clear Traitments</a
            >
            <a href="/clear/all" class="btn btn-secondary">Clear All</a>
            <a href="/downloadpatients" class="btn btn-secondary">Download</a>
        </div>
    </div>
</div>
{% endblock %}
